# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.env/
build/
dist/

# Project specific
logs/
data/
*.pth
*.pt
*.onnx
*.bin
*.model

# OS / IDE
.DS_Store
.vscode/
.idea/
